[submodule "Neko/vendor/spdlog"]
	path = Neko/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Neko/vendor/GLFW"]
	path = Neko/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Neko/vendor/imgui"]
	path = Neko/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Neko/vendor/glm"]
	path = Neko/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Neko/vendor/yaml-cpp"]
	path = Neko/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Neko/vendor/ImGuizmo"]
	path = Neko/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "Neko/vendor/Box2D"]
	path = Neko/vendor/Box2D
	url = https://github.com/TheCherno/box2d.git
